body {
    font-family: Arial, sans-serif;
    background-color: #000e55;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.quiz-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #afa74c;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.result-container {
    display: none;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}
